.env
.direnv

result
target

# misc
.DS_Store
*.pem

# env
.env*.local
.envrc

# dependency
node_modules/

# log
.pnpm-debug.log

# VSCode
.vscode/settings.json

# typescript
*.tsbuildinfo

# Vercel
.vercel

# Next.js
.next

# Storybook
storybook-static

# ESLint
.eslintcache
.eslint-report.json

# GraphQL Inspector
.inspector-validate-report.json
