# direnv
.direnv

# deps
package-lock.json

# codegen
schema.graphql
src/gql/*
!src/gql/fetch.ts

# public
**/public/mockServiceWorker.js

# Vercel
.vercel

# Next.js
.next

# storybook
storybook-static

# ESLint
.eslint-report.json

# GraphQL Inspector
.inspector-validate-report.json
