# direnv
.direnv

# deps
package-lock.json
pnpm-lock.yaml

# codegen
schema.graphql
gql/*
!gql/fetch.ts

# public
**/public/mockServiceWorker.js

# Vercel
.vercel

# Next.js
.next

# storybook
storybook-static

# ESLint
.eslint-report.json

# GraphQL Inspector
.inspector-validate-report.json

# husky
.husky
