# direnv
.direnv

# deps
package-lock.json

# codegen
schema.graphql
src/gql

# public
**/public/mockServiceWorker.js

# Vercel
.vercel

# Next.js
.next

# storybook
storybook-static

# ESLint
.eslint-report.json
