@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}

:root {
  overflow-y: scroll;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}
